@{
    ViewBag.Title = "Home";
}

<!----<div class="jumbotron">

</div>-->
<!--home page-->
<div class="site-wrap" id="home-nav">
    <section class="site-blocks-cover overflow-hidden bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center text-center text-md-left">
                    <div class="intro-text">
                        <h1>
                            Little Minds
                            Shaping the World
                        </h1>
                        <p class="mb-4">
                            To navigate migrant parents
                            through of Australian education system.
                        </p>
                        <p><a href="#main-fuc" class="btn btn-primary">Explore</a></p>



                    </div>
                </div>
                <div class="col-md-6 align-self-end text-center text-md-right" style="margin-top:50px">
                    <!--<img src="images/dogger_img_1.png" alt="Image" class="img-fluid cover-img">-->
                    <img src="~/Content/images/homeBG1.jpg" alt="Image" class="img-fluid cover-img" style="margin-top:50px">


                </div>
            </div>

            <div><a id="toKedu" href="#" class="scroll-down" address="true"></a></div>
        </div>
    </section>

    <!--4blocks-->
    <section class="site-section" id="kinder-education">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-6 text-center heading-section mb-5">
                    <div class="paws">
                        <img src="~/Content/images/cai12.png" style="max-width:50%" />
                    </div>
                    <h2 class="text-black mb-2">Welcome</h2>
                    <p>
                        In the kindergarten, children unlock their full potential and grow with a happy, safe and nurturing environment.
                    </p>
                </div>
            </div>

            <div class="row hover-1-wrap mb-5 mb-lg-0">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right">
                            <a href="#" class="hover-1">
                                <img src="~/Content/images/block1.jpeg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                            <h2 class="text-black">Why attend kindergarten?</h2>
                            <p class="mb-4">
                                Our Children develop essential skills such as social, emotional and problem-solving abilities that will become the building blocks of their future in the kindergarten.
                            </p>
                            <p><a href="#">@Html.ActionLink("Read More", "AboutKG", "Home", new { @class = "btn btn-primary" })</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hover-1-wrap mb-5 mb-lg-0">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left">
                            <a href="#" class="hover-1">
                                <img src="~/Content/images/block2.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right">
                            <h2 class="text-black">Learning in the kindergarten </h2>
                            <p class="mb-4">
                                All Kindergarten programs in Victoria are delivered by qualified teachers who specialise in Early childhood framework which is specially designed to provide best quality education to your child.
                                Kindergartens understand that each child grows at its own pace.
                            </p>
                            <p><div>@Html.ActionLink("Read More", "LinKG", "Home", new { @class = "btn btn-primary" })</div></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hover-1-wrap">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right">
                            <a href="#" class="hover-1">
                                <img src="~/Content/images/block3.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                            <h2 class="text-black">Health, Safety & Wellbeing</h2>
                            <p class="mb-4">It is important we are both safe and practical when it comes to our policies around health, safety and wellbeing.</p>
                            <p><a href="#">@Html.ActionLink("Read More", "HSWpage", "Home", new { @class = "btn btn-primary" })</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hover-1-wrap mb-5 mb-lg-0">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left">
                            <a href="#" class="hover-1">
                                <img src="~/Content/images/block4.jpg" alt="Image" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right">
                            <h2 class="text-black">Financial Support</h2>
                            <p class="mb-4">
                                We know it’s not always smooth sailing when it comes to finances,
                                and that’s why we want to do everything we can to help you access care when you need it most.
                            </p>
                            <p><a href="#">@Html.ActionLink("Read More", "FSupport", "Home", new { @class = "btn btn-primary" })</a></p>
                        </div>

                    </div>
                    <div style="height:50px; width:100%"><a href="#" id="toAboutUs" class="scroll-down" address="true" style="bottom: 1px;left:50%"></a></div>
                </div>

            </div>



        </div>

    </section>
    <!--end of 4 blocks-->
    <!--About us-->
    <section class="site-section bg-primary trainers" id="about-section">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-5 align-self-center mr-auto text-left heading-section mb-5">
                    <div class="ml-4">
                        <img src="~/Content/images/bai12.png" style="max-width:60%; margin-bottom:10px" />
                    </div>
                    <h2 class="text-white mb-3">About Us</h2>
                    <p class="text-white mb-4"> Children from migrated families often face interrupted schooling along with cultural and language barriers. </p>
                    <p class="text-white mb-4">
                        There can also be signs of social isolation which can inhibit a child’s ability to learn and excel. This is where we step in, at ReadyforKinder we understand that as migrant parents it can be daunting sometimes to navigate your way through of Australian education system.<br /><br />
                        On our website, we provide:
                    </p>
                    <ul class="list-unstyled ul-paw primary mb-0 text-white">
                        <li>1.Current Trends of different aspects related to your children</li>
                        <li>2.Kindergarten Eligibility Checking</li>
                        <li>3.Nearby kindergartens Search</li>
                    </ul>

                </div>
                <div class="col-lg-6 text-left heading-section mb-5" data-aos="fade-up" data-aos-delay="100">
                    <a data-fancybox data-ratio="1.5" href="https://vimeo.com/317571768" class="video-img">

                        <img src="~/Content/images/about1.png" alt="Image" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--end of about us-->
    <!--main functions-->
    <section class="site-section" id="main-fuc">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up" id="current-trend">
                <div class="col-lg-6 text-center heading-section mb-5">
                    <div class="paws">
                        <img src="~/Content/images/cai12.png" style="max-width:50%" />
                    </div>
                    <h2 class="text-black mb-2">kindergarten</h2>
                    <p>
                        We are here to help your children get ready to the kindergarten!
                    </p>
                </div>
            </div>

            <div class="row hover-1-wrap mb-5 mb-lg-0" id="Eligibility">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right">
                            <div class="link-container background-one" style="min-height:350px">
                                <!---<a class="link-one1" data-toggle="modal" id="vis-nav" href="#vis-dialog">Current Trends</a>-->
                                <div class="link-one1">Current Trends</div>
                            </div>
                        </div>
                        <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                            <h2 class="text-black"></h2>
                            <p class="mb-4">
                                A Child’s time spent in a Kinder plays a very crucial role in the child’s development and learning. Parents in Australia enrol their children to kindergarten when their children turn 4.
                                <br /><br /> Want to have a look at current trends for kindergarten enrollments and decide for your kids ?
                            </p>
                            <p> <span class="icon-arrow-right" style="margin-left:10px"></span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row hover-1-wrap mb-5 mb-lg-0" id="kg-location">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left">
                            <div class="link-container background-three" style="min-height:350px">
                                <!---<a class="link-one1" data-toggle="modal" id="vis-nav" href="#vis-dialog">Current Trends</a>-->
                                <div>@Html.ActionLink("Eligibility", "kinderElig", "Home",new { @class = "link-three" })</div>
                            </div>
                        </div>
                        <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right">
                            <h2 class="text-black"> </h2>
                            <p class="mb-4">
                                Just moved to Australia? Want your child to be school ready ? Confused on how to enrol your child to a nearby kinder ?
                                <br /><br /> Here is a step wise guide on how to enrol your child to your nearest kindergarten.
                            </p>
                            <p> <span class="icon-arrow-left" style="margin-right:10px"></span></p>
                        </div>
                    </div>

                </div>

            </div>


            <div class="row hover-1-wrap">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right">
                            <div class="link-container background-two" style="min-height:350px">
                                <!---<a class="link-one1" data-toggle="modal" id="vis-nav" href="#vis-dialog">Current Trends</a>-->
                                <div>@Html.ActionLink("Locate Kindergarten", "Index", "kindergartens")</div>


                            </div>
                        </div>
                        <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                            <h2 class="text-black">Where is the kindergartens? </h2>
                            <p class="mb-4">
                                With so many kindergartens in Victoria, it is important for your child to attend a kindergarten that is near to your workplace or your home. This allows you to pick/drop your child without any hassle.
                                Looking for a Kinder nearby ? Don't know where to start ?
                            </p>
                            <p> <span class="icon-arrow-right" style="margin-left:10px"></span></p>
                        </div>
                    </div>
                    <div style="height:50px; width:100%"><a href="#" id="toFAQ" class="scroll-down" address="true" style="bottom: 1px;left:50%"></a></div>
                </div>
            </div>




        </div>
    </section>



    <!--FAQ-->
    <section class="site-section" id="question-section">
        <div class="container" id="accordion">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-6 text-center heading-section mb-5">
                    <div class="paws">
                        <img src="~/Content/images/cai12.png" style="max-width:50%" />
                    </div>
                    <h2 class="text-black mb-2">Frequently Asked Questions</h2>
                    <p></p>
                </div>
            </div>
            <div class="row accordion justify-content-center block__76208">
                <div class="col-lg-6 order-lg-2 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="">
                    <img src="~/Content/images/block3.jpg" alt="Image" class="img-fluid rounded">
                    <div style="height:50px; width:100%"><a href="#" id="toQG" class="scroll-down" address="true" style="bottom: 1px;left:1%"></a></div>
                </div>
                
                <div class="col-lg-5 mr-auto order-lg-1" data-aos="fade-up" data-aos-delay="100">
                    <div class="accordion-item">
                        <h3 class="mb-0 heading">
                            <a class="btn-block" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="true" aria-controls="collapseFive">When can my child start 4-year old Kindergarten?<span class="icon"></span></a>
                        </h3>
                        <div id="collapseFive" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="body-text">
                                <p>
                                    Children attending the 4 year old program must turn 4 on or before 30th April in the year they will attend, however we do encourage parents to discuss their child’s enrolment with staff if their child’s 4th birthday falls in the year of attendance.
                                </p>
                            </div>
                        </div>
                    </div> <!-- .accordion-item -->

                    <div class="accordion-item">
                        <h3 class="mb-0 heading">
                            <a class="btn-block" data-toggle="collapse" href="#collapseSix" role="button" aria-expanded="false" aria-controls="collapseSix">
                                Should my child be toilet Trained?
                                <span class="icon"></span>
                            </a>
                        </h3>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="body-text">
                                <p>
                                    We understand every child  develops at his / her own rate.  We encourage families to have begun toilet training and will work to support your child’s development to promote a positive outcome.
                                </p>
                            </div>
                        </div>
                    </div> <!-- .accordion-item -->

                    <div class="accordion-item">
                        <h3 class="mb-0 heading">
                            <a class="btn-block" data-toggle="collapse" href="#collapseSeven" role="button" aria-expanded="false" aria-controls="collapseSeven">
                                What if my child is on medication?
                                <span class="icon"></span>
                            </a>
                        </h3>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="body-text">
                                <p>
                                    Educators can only administer medication prescribed by a doctor. 
                                    They cannot administer non-prescription drugs or dietary supplements unless the service is provided with written authorisation by a doctor.
                                    Under no circumstances should medication be left in children’s bags.
                                </p>
                            </div>
                        </div>
                    </div> <!-- .accordion-item -->

                    <div class="accordion-item">
                        <h3 class="mb-0 heading">
                            <a class="btn-block" data-toggle="collapse" href="#collapseEight" role="button" aria-expanded="false" aria-controls="collapseEight">
                                What to look for when I first visit a Kindergarten?

                                <span class="icon"></span>
                            </a>
                        </h3>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="body-text">
                                <p>
                                    Read whether Kindergarten’s atmosphere is welcoming ,relaxed and kids friendly.
                                    It should be a comfortable place with lots of options of fun games and activities and confident and caring educators who work well with children.
                                </p>
                            </div>
                        </div>
                    </div> <!-- .accordion-item -->

                </div>


            </div>
        </div>
    </section>
    <!--FAQ-->
    <!--Quick guide-->
    <section class="site-section" id="faq-section">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-6 text-center heading-section mb-5">
                    <div class="paws">
                        <img src="~/Content/images/cai12.png" style="max-width:50%" />
                    </div>
                    <h2 class="text-black mb-2">Quick Guideline of Kindergarten Enrollment</h2>
                    <p>A few steps to get ready for Kindergarten </p>
                </div>
            </div>
            <div class="row accordion justify-content-center block__76208">
                <div class="col-lg-12" data-aos="fade-up" data-aos-delay="">
                    <!--navigation-->
                    <div class="md-stepper-horizontal orange">
                        <div class="md-step active" id="step11">
                            <div class="md-step-circle"><span>1</span></div>
                            <div class="md-step-title">Selection</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step active" id="step12">
                            <div class="md-step-circle"><span>2</span></div>
                            <div class="md-step-title">Fees Structure</div>
                            <div class="md-step-optional"></div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step active" id="step13">
                            <div class="md-step-circle"><span>3</span></div>
                            <div class="md-step-title">Enrolment</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step active" id="step14">
                            <div class="md-step-circle"><span>4</span></div>
                            <div class="md-step-title">First day at kindergarten</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                    </div>

                    <!--navigation-->

                    <div class="row hover-1-wrap mb-5 mb-lg-0" style="margin-top:30px" id="Eli-1">
                        <div class="col-12">
                            <div class="row">
                                <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2">
                                    <a href="#" class="hover-1">
                                        <img src="~/Content/images/block1.jpeg" alt="Image" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1">
                                    <h2 class="text-black">Step 1 Kindergarten selection</h2>
                                    <p class="mb-4">
                                        In this step, parents are required to choose a nearby kindergarten
                                        , book an appointment with the selected kindergarten and check for various quality aspects of the kindergarten. In order to go through stepwise information, please click this image.

                                    </p>
                                    <p><div>@Html.ActionLink("Read More", "EnrollmentMore", "Home", new { @class = "btn btn-primary" })</div></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row hover-1-wrap  mb-5 mb-lg-0" style="margin-top:30px" id="Eli-2">
                        <div class="col-12">
                            <div class="row">
                                <div class="mb-4 mb-lg-0 col-lg-6">
                                    <a href="#" class="hover-1">
                                        <img src="~/Content/images/block2.jpg" alt="Image" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col-lg-5 ml-auto align-self-center">
                                    <h2 class="text-black">Step 2  Kindergarten costing </h2>
                                    <p class="mb-4">
                                        In this step, parents are required to go through kinder related expenses and fee structures.
                                        In order to expand this section, please click this image.

                                    </p>
                                    <p><div>@Html.ActionLink("Read More", "EnrollmentMore", "Home", new { @class = "btn btn-primary" })</div></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row hover-1-wrap" style="margin-top:30px" id="Eli-3">
                        <div class="col-12">
                            <div class="row">
                                <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2">
                                    <a href="#" class="hover-1">
                                        <img src="~/Content/images/block3.jpg" alt="Image" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1">
                                    <h2 class="text-black">Step 3 Kindergarten enrolment checklist</h2>
                                    <p class="mb-4">
                                        In this section you will be able to view all the activities and tasks that you should keep in mind when dropping off your child to kindergarten for the first time. Please click on the image in order to view the checklist.
                                    </p>
                                    <p><div>@Html.ActionLink("Read More", "EnrollmentMore", "Home", new { @class = "btn btn-primary" })</div></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row hover-1-wrap mb-5 mb-lg-0" style="margin-top:30px" id="Eli-4">
                        <div class="col-12">
                            <div class="row">
                                <div class="mb-4 mb-lg-0 col-lg-6">
                                    <a href="#" class="hover-1">
                                        <img src="~/Content/images/block4.jpg" alt="Image" class="img-fluid">
                                    </a>
                                </div>
                                <div class="col-lg-5 ml-auto align-self-center" ">
                                    <h2 class="text-black">Step 4 First day at kindergarten checklist</h2>
                                    <p class="mb-4">
                                        In this section you will be able to view all the activities and tasks that you should keep in mind when dropping
                                        off your child to kindergarten for the first time. Please click on the image in order to view the checklist.

                                    </p>
                                    <p><div>@Html.ActionLink("Read More", "EnrollmentMore", "Home", new { @class = "btn btn-primary" })</div></p>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </section>
    <!--Quick guide-->
    <script>
        $(function () {
            $('#toKedu').click(function () {
                $('html, body').animate({ scrollTop: $('section.site-section').offset().top }, 'slow');
                return false;
            });
        });

    </script>
    <script>
        $(function () {
            $('#toAboutUs').click(function () {
                $('html, body').animate({ scrollTop: $('#about-section').offset().top }, 'slow');
                return false;
            });
        });

    </script>
    <script>
        $(function () {
            $('#toFAQ').click(function () {
                $('html, body').animate({ scrollTop: $('#question-section').offset().top }, 'slow');
                return false;
            });
        });

    </script>


    <script>
        $(function () {
            $('#toQG').click(function () {
                $('html, body').animate({ scrollTop: $('#faq-section').offset().top }, 'slow');
                return false;
            });
        });

    </script>


</div>
