
@{
    ViewBag.Title = "LinKG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <link href="~/Content/css/smallnav.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.min.js"></script>
    <link href="~/Content/css/navbtn.css" rel="stylesheet" />
</head>


<body id="nav121">




    <!--title part-->
    <div class="site-blocks-cover bg-light" data-aos="fade">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12 mt-lg-5 text-center">
                    <h1>Learning in the Kindergarten</h1>
                    <p class="post-meta">All Kindergarten programs in Victoria are delivered by qualified teachers who specialise in Early childhood framework which is specially designed to provide best quality education to your child. Kindergartens understand that each child grows at its own pace.</p>
                </div>
            </div>
            <div><a href="#" class="scroll-down" address="true" style=" left: 50%"></a></div>
        </div>
    </div>
        
    
        <!--mainBody-->
    <section class="site-section">
        <div class="row justify-content-center" data-aos="fade-up" sytle="margin-top:50 px">
            <div class="col-lg-6 text-center heading-section mb-5">
                <h2 class="text-black mb-2">Eight things in the Programs</h2>
                
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-content data-aos=" fade-left"">
                    <h1 style="color:black">1</h1>
                    <p class="lead mb-5">
                        Language, literacy and numeracy and reading skills are developed. By the end your child will develop skills to recognise alphabets in both uppercase and lowercase. They will learn the correct pronunciations by hearing the sound each letter makes.
                    </p>

                    <div class="row mb-5">
                        <div class="col-lg-12">
                            <figure>
                                <img src="~/Content/images/block4.jpg" alt="Image" class="img-fluid">
                                
                            </figure>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
        <!--main body-->
        <!--4blocks-->
        <section class="site-section">
            <div class="container">


                <div class="row hover-1-wrap mb-5 mb-lg-0">
                    <div class="col-12">
                        <div class="row">
                            <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right">
                                <a href="#" class="hover-1">
                                    <img src="~/Content/images/block1.jpeg" alt="Image" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                                <h2 class="text-black">2 &amp; 3</h2>
                                <p class="mb-4">
                                    Your child learns to adapt to group based learnings by talking, drawing and building things together with other playmates.<br />
                                    <br />
                                    Your child will learn to differentiate and describe different shapes and objects. By the end of the year they will be ready to classify and sort objects by colour shapes and sizes.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hover-1-wrap mb-5 mb-lg-0">
                    <div class="col-12">
                        <div class="row">
                            <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left">
                                <a href="#" class="hover-1">
                                    <img src="~/Content/images/block2.jpg" alt="Image" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right">
                                <h2 class="text-black">4 &amp; 5 </h2>
                                <p class="mb-4">
                                    Here kids will grasp the basic concepts of time and seasons with help of everyday routine.<br />
                                    Children develop relationships across all age groups promoting a sense of belongingness by encouraging buddy skills.

                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hover-1-wrap">
                    <div class="col-12">
                        <div class="row">
                            <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right">
                                <a href="#" class="hover-1">
                                    <img src="~/Content/images/block3.jpg" alt="Image" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                                <h2 class="text-black">6 & 7</h2>
                                <p class="mb-4">
                                    Children develop relationships across all age groups promoting a sense of belongingness by encouraging buddy skills.<br /><br />
                                    Children get exposed to all areas of the school environment making the transition from Kindergarten to school easy.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row hover-1-wrap mb-5 mb-lg-0">
                    <div class="col-12">
                        <div class="row">
                            <div class="mb-4 mb-lg-0 col-lg-6" data-aos="fade-left">
                                <a href="#" class="hover-1">
                                    <img src="~/Content/images/block4.jpg" alt="Image" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-lg-5 ml-auto align-self-center" data-aos="fade-right">
                                <h2 class="text-black">8</h2>
                                <p class="mb-4">
                                    Children are taught about nature and its importance so that they understand its value and nurture their interests in nature. Playing in mud, grass and sand pits fosters children's imagination and curiosity.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="component">
                <!-- Start Nav Structure -->
                <button class="csstransforms cn-button" id="cn-button">+</button>
                <div class="csstransforms cn-wrapper" id="cn-wrapper">
                    <ul>
                        <!--<li><a href="#"><span class="icon-arrow-up"></span></a></li>-->
                        <li><a><span class="icon-arrow-up">@Html.ActionLink(" ", "AboutKG", "Home", new { @class = "icon-arrow-up" })</span></a></li>
                        <li><a>now<br />2/4</a></li>
                        <li><a href="#"><span class="icon-home">@Html.ActionLink(" ", "Index", "Home", new { @class = "icon-home" })</span></a></li>
                        <li><a>next<br />3/4</a></li>
                        <li><a href="#">@Html.ActionLink(" ", "HSWpage", "Home", new { @class = "icon-arrow-up" })<span class="icon-arrow-up"></span></a></li>

                    </ul>
                </div>
                <div id="cn-overlay" class="cn-overlay"></div>
                <!-- End Nav Structure -->




            </div><!-- /container -->
            <div style="margin-top:100px" data-aos="fade-right">
                <div class="multi-button">
                    <button><span class="icon-arrow-left"></span> @Html.ActionLink("Why Kindergarten?", "AboutKG", "Home", new { @class = "button", @id = "navbtn" })</button>
                    <button>@Html.ActionLink("Health, Safety & Wellbeing", "HSWpage", "Home", new { @class = "button", @id = "navbtn" }) <span class="icon-arrow-right"></span></button>

                </div>
            </div>

            <script src="~/Scripts/js/demo1.js"></script>
            <script src="~/Scripts/js/polyfills.js"></script>
            <script>
                $(function () {
                    $('.scroll-down').click(function () {
                        $('html, body').animate({ scrollTop: $('section.site-section').offset().top }, 'slow');
                        return false;
                    });
                });

            </script>
            <script>
                $("#naviii11").hide();
            </script>

        </section>
        <!--end of 4 blocks-->

</body>

</html>




